{% extends "html/base.html" %}
{% block css %}
<link rel="stylesheet" href="/static/css/login.css" />
{% endblock %}

{% block title %}
登录
{% endblock %}

{% block body %}

    <div class="container">
      <h1>登录</h1>
      <form action="" method="post">
        <div class="form-control">
          <input type="text" name="email" required>
          <label>邮箱</label>
        </div>

        <div class="form-control">
          <input type="password" name="password" required>
          <label>密码</label>
        </div>

        <button class="btn">登录</button>

        <p class="text">如果您没有账号可以<a href="register">注册</a> </p>
      </form>
    </div>

{% endblock %}

{% block js %}
<script src="/static/js/login.js"></script>
{% endblock %}
